/* LoginForm.css */

/* Container styles */
.LoginForm-Container {

    position: relative; /* Ensure the position is relative for absolute positioning of the toggle button */
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .LoginForm-Container h1{
    text-align: center;
  }
  /* Form styles */
  .LoginForm-Container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Label styles */
  .LoginForm-Container label {
    margin-bottom: 10px;
  }
  
  /* Input styles */
  .LoginForm-Container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styles */
  .LoginForm-Container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .LoginForm-Container button:hover {
    background-color: #0056b3;
  }
  
  /* Password toggle button styles */
  .LoginForm-Container .password-toggle {
    font-size: 1.2rem;
    position: absolute;
    right:30px;
    top: 51%;
    transform: translateY(-40%);
    cursor: pointer;
    color: #6f4de8; /* Default color */
  }
  
  .LoginForm-Container .password-toggle:hover {
    color: #333; /* Hover color */
  }
  
  /* Link styles */
  .LoginForm-Container a {
    text-align: right;
    color: #007bff;
    text-decoration: none;
  }
  
  .LoginForm-Container a:hover {
    text-decoration: underline;
  }
  
  /* Paragraph styles */
  .LoginForm-Container p {
    margin: 0;
  }
  
  /* Adjustments for small screens */
  @media screen and (max-width: 480px) {
    .LoginForm-Container {
      width: 100%;
    }
  }
  